{
    "secret": "randomString64bytes",
    "port": "8080",
    "isHTTPS": true,
    "disableLogin": true,
    "db": {
        "host": "localhost",
        "name": "arena.utt.fr",
        "user": "",
        "pwd": "",
        "dialect": "mariadb",
        "reset": false
    },
    "mail": {
        "host": "mailtrap.io",
        "port": 2525,
        "auth": {
            "user": "foo",
            "pass": "bar"
        }
    },
    "log": {
        "console": "debug",
        "file": "debug",
        "maxsize": 10000000
    },
    "etupay": {
        "id": 3,
        "url": "https://etupay.utt.fr/initiate",
        "key": "foobar"
    }
}
