<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/img/manifest.json">
        <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/img/favicon.ico">
        <meta name="msapplication-config" content="/img/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        <meta name="keywords" content="UTT Arena LAN Party Troyes Jeu Vidéo Festival Cube">
        <meta name="description" content="L'UTT Arena ouvre ses portes le 9, 10 et 11 Décembre. Venez retrouver l'ambiance d'une lan party authentique avec votre équipe!">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>UTT Arena 2016</title>
    </head>
    <body class="a-dashboard">
        <main id="a-anchor--team" class="a-anchor a-anchor--active">
            <div class="a-page a-page--intro a-page--blue">
                <h2 id="a-anchor--team" class="a-page__title a-page__title--big">Paiement</h2>
                <% if (status === 'paid' || status === 'authorization') { %>
                    <h3 class="a-page__title a-page__title--medium">Paiement accepté !</h3>
                <% } else if (status === 'refused' || status === 'canceled') { %>
                    <h3 class="a-page__title a-page__title--medium">Paiement refusé.</h3>
                <% } else if (status === 'refunded') { %>
                    <h3 class="a-page__title a-page__title--medium">Paiement remboursé.</h3>
                <% } else { %>
                    <h3 class="a-page__title a-page__title--medium">Paiemnt <%= status %></h3>
                <% } %>
                <p>
                    <a href="/dashboard">Retour au site</a>
                </p>
            </div>
        </main>

        <script async src="bundle.js"></script>
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="/fonts/big_noodle_titling.css">
        <link rel="stylesheet" href="/fonts/muli-regular.css">
    </body>
</html>
