<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/img/manifest.json">
        <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/img/favicon.ico">
        <meta name="msapplication-config" content="/img/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        <meta name="keywords" content="UTT Arena LAN Party Troyes Jeu Vidéo Festival Cube">
        <meta name="description" content="L'UTT Arena ouvre ses portes le 9, 10 et 11 Décembre. Venez retrouver l'ambiance d'une lan party authentique avec votre équipe!">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>UTT Arena 2016</title>
    </head>
    <body>
        <nav class="a-mobile-menu">
            <div class="a-font-bignoodle a-menu__item a-menu__item--link">
                <a data-scroll href="#a-anchor--event">Evenement</a>
            </div>
            <div class="a-font-bignoodle a-menu__item a-menu__item--link">
                <a data-scroll href="#a-anchor--infos">Infos Pratiques</a>
            </div>
            <div class="a-font-bignoodle a-menu__item a-menu__item--link">
                <a data-scroll href="#a-anchor--partners">Partenaires</a>
            </div>
            <div class="a-font-bignoodle a-menu__item a-menu__item--link">
                <a data-scroll href="#a-anchor--festival">Festival</a>
            </div>
            <div class="a-font-bignoodle a-menu__item a-menu__item--link a-menu__item--no-border">
                <a data-scroll href="#a-anchor--contacts">Contacts</a>
            </div>
            <% if (isLoggedIn) { %>
                <div class="a-font-bignoodle a-menu__item a-menu__item--right">
                    <a href="/dashboard">Mon compte</a>
                </div>
            <% } else { %>
                <div class="a-font-bignoodle a-menu__item a-menu__item--right" data-modal="#modal-login">
                    <a href="#">Connexion</a>
                </div>
            <% } %>
        </nav>

        <nav class="a-menu" data-scroll-header>
            <div class="a-menu__item a-menu__item--brand">
                <img class="a-menu__brandicon" src="/img/logo.small.png" height="86" width="100"/>
                <span class="a-font-bignoodle a-font-bignoodle--oblique a-menu__brandname">UA 2016</span>
            </div>
            <div class="a-font-bignoodle a-menu__item a-menu__item--link">
                <a data-scroll href="#a-anchor--event">Evenement</a>
            </div>
            <div class="a-font-bignoodle a-menu__item a-menu__item--link">
                <a data-scroll href="#a-anchor--infos">Infos Pratiques</a>
            </div>
            <div class="a-font-bignoodle a-menu__item a-menu__item--link">
                <a data-scroll href="#a-anchor--partners">Partenaires</a>
            </div>
            <div class="a-font-bignoodle a-menu__item a-menu__item--link">
                <a data-scroll href="#a-anchor--festival">Festival</a>
            </div>
            <div class="a-font-bignoodle a-menu__item a-menu__item--link a-menu__item--no-border">
                <a data-scroll href="#a-anchor--contacts">Contacts</a>
            </div>
            <% if (isLoggedIn) { %>
                <div class="a-font-bignoodle a-menu__item a-menu__item--right">
                    <a href="/dashboard">Mon compte</a>
                </div>
            <% } else { %>
                <div class="a-font-bignoodle a-menu__item a-menu__item--right" data-modal="#modal-login">
                    <a href="#">Connexion</a>
                </div>
            <% } %>
            <div class="a-font-bignoodle a-menu__item a-menu__item--right a-menu__item--right-mobile">Menu &#9776;</div>
        </nav>

        <main>
            <div class="a-modal a-modal--hidden" id="modal-login">
                <a class="a-modal__closer">&#x2715;</a>
                <div class="a-modal__login">
                    <h1 class="a-modal__title">Connexion</h1>
                    <form method="post" action="/login" id="loginForm">
                        <div class="a-modal__input">
                            <input type="text" placeholder="Pseudo" id="loginNickname" />
                        </div>
                        <div class="a-modal__input">
                            <input type="password" placeholder="Mot de passe" id="loginPassword" />
                        </div>
                        <div class="a-modal__submit">
                            <input type="submit" class="a-font-bignoodle" value="Connexion" />
                            <a href="#" class="a-modal__switch">Inscription</a>
                        </div>
                    </form>
                </div>
                <div class="a-modal__register">
                    <h1 class="a-modal__title">Inscription</h1>
                    <form method="post" action="/register" id="registerForm">
                        <div class="a-modal__input">
                            <input type="text" placeholder="Pseudo" id="registerNickname" />
                        </div>
                        <div class="a-modal__input">
                            <input type="password" placeholder="Mot de passe" id="registerPassword1" />
                        </div>
                        <div class="a-modal__input">
                            <input type="password" placeholder="Confirmation" id="registerPassword2" />
                        </div>
                        <div class="a-modal__input">
                            <input type="email" placeholder="Mail" id="registerMail" />
                        </div>
                        <div class="a-modal__input">
                            <input type="checkbox" name="registerRules" id="registerRules" />
                            <label for="registerRules">J'accepte les règles du tournoi</label>
                        </div>
                        <div class="a-modal__input">
                            <input type="checkbox" name="registerConditions" id="registerConditions" />
                            <label for="registerConditions">J'accepte les conditions générales</label>
                        </div>
                        <div class="a-modal__submit">
                            <input type="submit" class="a-font-bignoodle" value="Inscription" />
                            <a href="#" class="a-modal__switch">Connexion</a>
                        </div>
                    </form>
                </div>
            </div>

            <div class="a-page a-page--full-height a-page--full-width a-hero">
                <div class="a-hero__images">
                    <div class="a-hero__image a-hero__image--overwatch"></div>
                    <div class="a-hero__image a-hero__image--warcraft"></div>
                    <div class="a-hero__image a-hero__image--lol"></div>
                </div>
                <div class="a-hero__content">
                    <img src="/img/logo.png" alt="UTT Arena 2016 Logo" width="500" height="437.5" />
                    <h1 class="a-hero__content__logo a-font-bignoodle--oblique">UTT Arena 2016</h1>
                </div>
                <img src="/img/hero.footer.png" alt="Footer overlay">
            </div>
            <div class="a-page a-page--intro a-page--blue">
                <h2 id="a-anchor--event" class="a-page__title a-page__title--big">Rassemble ton matériel</h2>
                <h3 class="a-page__title a-page__title--medium">Venez retrouver l'ambiance d'une lan party authentique avec votre équipe.</h3>
                <p class="a-page__text">
                    L'UTT Arena revient pour sa 15<sup>ème</sup> édition les 9, 10 et 11 décembre 2016. Cette édition aura lieu comme l'année dernière dans le cadre du Festival des Jeux au Cube de Troyes. Au programme 3 tournois sur des incontournables de l'E-sports, du skill, des personnalités et des rencontres, de nombreuses animations et lots à gagner, qui rendront cette édition plus intense et vibrante que jamais. Alors récupère ta souris, ton casque et ton câble réseau, branche ton écran et vient imposer la domination de ton équipe dans le Cube.
                </p>
                <hr class="a-page__separator" />
                <div class="a-countdown a-font-bignoodle">
                    <div class="a-countdown__months">05</div>
                    <div class="a-countdown__days">06</div>
                    <div class="a-countdown__hours">01</div>
                </div>
                <div class="a-countdown-indicators a-font-bignoodle">
                    <div class="a-countdown-indicators__indicator a-countdown-indicators__indicator--months">Mois</div>
                    <div class="a-countdown-indicators__indicator a-countdown-indicators__indicator--days">Jours</div>
                    <div class="a-countdown-indicators__indicator a-countdown-indicators__indicator--hours">Heures</div>
                </div>
                <h2 class="a-page__title a-page__title--big">9, 10 et 11 Décembre 2016</h2>
                <% if (isLoggedIn) { %>
                    <a href="/dashboard" class="a-button a-page__register">Mon compte</a>
                <% } else { %>
                    <button class="a-page__register" data-modal="#modal-login">Connexion</button>
                <% } %>
                <hr class="a-page__separator" />
                <div class="a-category cf">
                    <div class="a-category__icon">
                        <img src="/img/computer.png" alt="Ordinateur" height="175" width="199" />
                    </div>
                    <div class="a-category__text">
                        <h2 id="a-anchor--infos" class="a-font-bignoodle--oblique a-category__header">Prépare ton UA</h2>
                        <p class="a-category__text">
                            Si vous participez à l'UA, il y a un minimum de matériel dont vous aurez besoin.
                            Même les plus aguerris d'entre vous devraient jeter un œil à la liste, un oubli est vite arrivé !
                        </p>
                    </div>
                    <div class="a-tabs">
                        <div class="a-tabs__tab a-tabs__tab--active" style="flex-grow: 0.8;">
                            <a href="#">Matériel</a>
                        </div>
                        <div class="a-tabs__tab">
                            <a href="#">Restauration</a>
                        </div>
                        <div class="a-tabs__tab" style="flex-grow: 0.6;">
                            <a href="#">Accès</a>
                        </div>
                    </div>
                    <div class="a-panels">
                        <div class="a-panels__panel a-panels__panel--active">
                            <ul class="a-list">
                                <li>
                                    <strong>Votre matériel informatique habituel</strong>
                                </li>
                                <li>
                                    <strong>Un PC qui démarre</strong>
                                </li>
                                <li>
                                    <strong>Une multiprise</strong>
                                    <div>Une prise par personne. Prenez une multiprise si vous avez besoin de plus d'une alimentation !</div>
                                </li>
                                <li>
                                    <strong>Un câble réseau (RJ45)</strong>
                                    <div>Votre câble RJ45 doit être de 5 mètres minimum pour se brancher sur le switch de table. Vous pourrez acheter un câble sur place au prix de 7€ (prix de grande distribution).</div>
                                </li>
                                <li>
                                    <strong>Un casque / Des écouteurs</strong>
                                </li>
                                <li>
                                    <strong>Une pièce d'identité</strong>
                                </li>
                                <li>
                                    <strong>Une attestation parentale</strong>
                                    <div>Si vous êtes mineurs de plus de 15 ans, vous devez présenter une autorisation parentale. Vous ne pouvez pas venir si vous avez moins de 15 ans.</div>
                                </li>
                            </ul>
                        </div>
                        <div class="a-panels__panel">
                            <ul class="a-list a-list--two">
                                <li>
                                    <strong>Restauration</strong>
                                    <div>
                                        Vous pourrez vous restaurer sur place à prix faible et déguster boissons et mets délicats : sandwichs, pizzas, crêpes sucrées/salées, croque-monsieurs, sodas, boissons sans alcool, barres chocolatées.
                                    </div>
                                </li>
                                <li>
                                    <strong>Repos</strong>
                                    <div>
                                        Des salles de repos vous seront proposées pour vous reposer entre deux parties !
                                        Vous pouvez aussi prévoir un hébergement pour la nuit, qui sera plus confortable.
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="a-panels__panel">
                            <ul class="a-list a-list--two">
                                <li>
                                    <strong>Adresse</strong>
                                    <div>
                                        20 Rue des Gayettes, 10000 Troyes, France.
                                    </div>
                                </li>
                                <li>
                                    <strong>Par la route</strong>
                                    <div>
                                        Depuis Paris : autoroute A5 → sortie numéro 20 Sainte Savine → direction Troyes sur la N60 → Rocade de contournement<br/>
                                        Depuis Reims : autoroute A26 → sortie numéro 21 Saint Thibault → direction Troyes sur la N71 → Rocade de contournement<br/>
                                        Depuis Dijon : autoroute A5 → sortie numéro 21 Saint Thibault → direction Troyes sur la N71 → Rocade de contournement</br>
                                    </div>
                                </li>
                                <li>
                                    <strong>Par le train</strong>
                                    <div>Depuis Paris : Gare de l'Est vers Troyes (1h30 de trajet). Nous pouvons venir vous chercher à la gare, il faut nous prévenir à l'avance par mail puis nous appeler une demi-heure avant votre arrivée.</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="a-category cf">
                    <div class="a-category__icon">
                        <img src="/img/agenda.png" alt="Agenda" height="175" width="175" />
                    </div>
                    <div class="a-category__text">
                        <h2 class="a-font-bignoodle--oblique a-category__header">Agenda</h2>
                        <p class="a-category__text">
                            Que tu souhaites savoir quand commencent les tournois ou avoir plus d'informations sur le planning
                            des animations et des événements, l'agenda te permet de tout savoir sur le déroulement de l'UA.
                        </p>
                    </div>
                    <div class="a-tabs">
                        <div class="a-tabs__tab a-tabs__tab--active">
                            <a href="#">Horaires</a>
                        </div>
                        <div class="a-tabs__tab">
                            <a href="#">Tarif</a>
                        </div>
                        <div class="a-tabs__tab">
                            <a href="#">Contact</a>
                        </div>
                    </div>
                    <div class="a-panels">
                        <div class="a-panels__panel a-panels__panel--active">
                            <ul class="a-list a-list--one">
                                <li>
                                    <strong>Vendredi 9 Décembre</strong>
                                    <div>
                                        18h : Ouverture de l'UTT Arena<br/>
                                        21h : Début des animations et du spotlight LoL<br/>
                                    </div>
                                </li>
                                <li>
                                    <strong>Samedi 10 Décembre</strong>
                                    <div>
                                        13h : Début des Spotlights<br/>
                                        00h : Fin des Spotlights<br/>
                                    </div>
                                </li>
                                <li>
                                    <strong>Dimanche 11 Décembre</strong>
                                    <div>18h : Fin de l'UTT Arena</div>
                                </li>
                            </ul>
                        </div>
                        <div class="a-panels__panel">
                            <ul class="a-list a-list--one">
                                <li>
                                    <strong>Préventes</strong>
                                    <div>
                                        Étudiant(e) de l'UTT, UTC et UTBM: 10€<br/>
                                        Extérieur(e): 15€<br/>
                                    </div>
                                </li>
                                <li>
                                    <strong>Plein tarif</strong>
                                    <div>
                                        Étudiant(e) de l'UTT, UTC et UTBM: 15€<br/>
                                        Extérieur(e): 20€<br/>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="a-panels__panel">
                            <ul class="a-list a-list--one">
                                <li>
                                    <strong>Téléphone</strong>
                                    <div>
                                        <a href="tel:+33325718550">+33 3 25 71 85 50</a>
                                    </div>
                                </li>
                                <li>
                                    <strong>Mail</strong>
                                    <div>
                                        <a href="arena@utt.fr">arena@utt.fr</a>
                                    </div>
                                </li>
                                <li>
                                    <strong>Facebook</strong>
                                    <div>
                                        <a href="https://facbeook.com/UTTArena">https://facbeook.com/UTTArena</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr class="a-page__separator" />
                <div class="a-partners cf">
                    <h2 id="a-anchor--partners" class="a-page__title a-page__title--big">Partenaires</h2>
                    <div class="a-partners__images">
                        <!--<div class="a-partners__images__partner">
                            <img src="/img/utt.png" height="100" width="282" />
                        </div>-->
                        <div class="a-partners__images__partner">
                            <img src="/img/troyesExpoCube.png" height="100" width="100" />
                        </div>
                        <div class="a-partners__images__partner a-partners__images__partner--white">
                            <img src="/img/c3.png" height="100" width="234" />
                        </div>
                        <div class="a-partners__images__partner">
                            <img src="/img/bde.jpg" height="100" width="175" />
                        </div>
                    </div>
                </div>
                <hr class="a-page__separator" />
                <div class="a-festival cf">
                    <h2 id="a-anchor--festival" class="a-page__title a-page__title--big">Festival</h2>
                    <p class="a-page__text">
                        C’est dans le Cube, salle homologuée, que le Parc des Expositions de Troyes accueille l’UA. En complément de cette belle initiative étudiante, le Parc des Expositions consacre 4 000 m² de superficie à la seconde édition du Festival des Jeux, rendez-vous unique dans l’Aube. Le Festival des Jeux est un événement intergénérationnel qui répond à une demande du public aubois de découvrir, jouer, partager et se rassembler autour de nombreux univers : jeux vidéo, jeux de rôles, jeux de plateau, jeux de figurines, jeux de société, cosplays et bien d’autres encore.
                    </p>
                    <div class="a-festival__images">
                        <div class="a-festival__images__image">
                            <img src="/img/ua1.jpg" />
                        </div>
                        <div class="a-festival__images__image">
                            <img src="/img/ua2.jpg" />
                        </div>
                        <div class="a-festival__images__image">
                            <img src="/img/ua3.jpg" />
                        </div>
                    </div>
                </div>
            </div>

            <footer class="a-footer" id="a-anchor--contacts">
                <h2 class="a-footer__title">Suivez nous</h2>
                <div class="a-footer__icons">
                    <a href="https://twitter.com/uttarena" class="a-footer__icons__icon">
                        <svg class="a-footer__icon--twitter" viewBox="0 0 100 100" version="1.1">
                            <g>
                                <path d="M48.875,0C21.882,0,0,21.882,0,48.875S21.882,97.75,48.875,97.75S97.75,75.868,97.75,48.875S75.868,0,48.875,0z
                                     M78.43,35.841c0.023,0.577,0.035,1.155,0.035,1.736c0,20.878-15.887,42.473-42.473,42.473c-8.127,0-16.04-2.319-22.883-6.708
                                    c-0.143-0.091-0.202-0.268-0.145-0.427c0.057-0.158,0.218-0.256,0.383-0.237c1.148,0.137,2.322,0.205,3.487,0.205
                                    c6.323,0,12.309-1.955,17.372-5.664c-6.069-0.512-11.285-4.619-13.161-10.478c-0.039-0.122-0.011-0.255,0.073-0.351
                                    c0.085-0.096,0.215-0.138,0.339-0.115c1.682,0.319,3.392,0.34,5.04,0.072c-6.259-1.945-10.658-7.808-10.658-14.483l0.002-0.194
                                    c0.003-0.127,0.072-0.243,0.182-0.306c0.109-0.064,0.245-0.065,0.355-0.003c1.632,0.906,3.438,1.488,5.291,1.711
                                    c-3.597-2.867-5.709-7.213-5.709-11.862c0-2.682,0.71-5.318,2.054-7.623c0.06-0.103,0.166-0.169,0.284-0.178
                                    c0.119-0.012,0.234,0.04,0.309,0.132c7.362,9.03,18.191,14.59,29.771,15.305c-0.193-0.972-0.291-1.974-0.291-2.985
                                    c0-8.361,6.802-15.162,15.162-15.162c4.11,0,8.082,1.689,10.929,4.641c3.209-0.654,6.266-1.834,9.09-3.508
                                    c0.129-0.077,0.291-0.065,0.41,0.028c0.116,0.094,0.164,0.25,0.118,0.394c-0.957,2.993-2.823,5.604-5.33,7.489
                                    c2.361-0.411,4.652-1.105,6.831-2.072c0.146-0.067,0.319-0.025,0.424,0.098c0.104,0.124,0.113,0.301,0.023,0.435
                                    C83.759,31.175,81.299,33.744,78.43,35.841z"/>
                            </g>
                        </svg>
                    </a>
                    <a href="https://www.facebook.com/UTTArena/" class="a-footer__icons__icon">
                        <svg class="a-footer__icon--facebook" viewBox="0 0 100 100" version="1.1">
                            <g>
                                <path d="M48.875,0C21.882,0,0,21.882,0,48.875S21.882,97.75,48.875,97.75S97.75,75.868,97.75,48.875S75.868,0,48.875,0z
                                     M67.521,24.89l-6.76,0.003c-5.301,0-6.326,2.519-6.326,6.215v8.15h12.641L67.07,52.023H54.436v32.758H41.251V52.023H30.229V39.258
                                    h11.022v-9.414c0-10.925,6.675-16.875,16.42-16.875l9.851,0.015V24.89L67.521,24.89z"/>
                            </g>
                        </svg>
                    </a>
                    <a href="#" class="a-footer__icons__icon">
                        <svg class="a-footer__icon--youtube" viewBox="0 0 100 100" version="1.1">
                            <g>
                                <g>
                                    <path d="M39.969,59.587c7.334-3.803,14.604-7.571,21.941-11.376c-7.359-3.84-14.627-7.63-21.941-11.447
                                        C39.969,44.398,39.969,51.954,39.969,59.587z"/>
                                    <path d="M48.875,0C21.883,0,0,21.882,0,48.875S21.883,97.75,48.875,97.75S97.75,75.868,97.75,48.875S75.867,0,48.875,0z
                                         M82.176,65.189c-0.846,3.67-3.848,6.377-7.461,6.78c-8.557,0.957-17.217,0.962-25.842,0.957c-8.625,0.005-17.287,0-25.846-0.957
                                        c-3.613-0.403-6.613-3.11-7.457-6.78c-1.203-5.228-1.203-10.933-1.203-16.314s0.014-11.088,1.217-16.314
                                        c0.844-3.67,3.844-6.378,7.457-6.782c8.559-0.956,17.221-0.961,25.846-0.956c8.623-0.005,17.285,0,25.841,0.956
                                        c3.615,0.404,6.617,3.111,7.461,6.782c1.203,5.227,1.193,10.933,1.193,16.314S83.379,59.962,82.176,65.189z"/>
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
                <p class="a-footer__text">
                    Tous droits réservés - UTT NET GROUP<br/>
                    <small>Mentions légales</small>
                    <br/>
                    <br/>
                </p>
            </footer>
        </main>

        <script async src="bundle.js"></script>
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="/fonts/big_noodle_titling.css">
        <link rel="stylesheet" href="/fonts/muli-regular.css">
    </body>
</html>
