:root {
    /* Colors */
    --mainColor: #24c6c0;
    --light: #fff;
    --grey: #727885;
    --dark: #191e2a;
    --blue: #35415B;
    --accent: #ffe500;
    --twitter: #3498db;
    --facebook: #49659f;
    --youtube: #ea3517;
    --whiteShadowOpacity: .85;

    /* Typography */
    --fontFamily: 'muliregular', Arial, sans-serif;
    --fontFamilyTitle: 'bignoodletitlingregular', sans-serif;
    --fontFamilyTitleOblique: 'bignoodletitlingoblique', sans-serif;
    --fontSize: 14px;
    --h1Size: 2.5rem;
    --h2Size: 2rem;
    --h3Size: 1.5rem;

    /* Headers */
    --headerSize: 60px;
    --headerFontSize: 25px;

    /* Hero */
    --numberOfImages: 3;

    /* Countdown */
    --countdownFontSize: 15rem;

    /* Categories */
    --categoryIconSize: 350px;

    /* Footer */
    --footerIconSize: 100px;
}

@custom-media --small (width < 748px);
@custom-media --medium (width >= 748px) && (width < 992px);
@custom-media --large (width >= 992px) && (width < 1200px);
@custom-media --xlarge (width >= 1200px);

*, *:after, *:before {
    box-sizing: border-box;
}

html {
    line-height: normal !important;
}

html, body, main {
    background-color: var(--blue);
    height: 100%;
    min-width: 320px;
    width: 100%;
}

body {
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    overflow-x: hidden;
}

@-moz-document url-prefix() {
    h1, h2, h3, .a-font-bignoodle {
        letter-spacing: 0 !important;
    }
}

h1, h2, h3, .a-font-bignoodle {
    font-family: var(--fontFamilyTitle);
    letter-spacing: 1px;

    &.a-font-bignoodle--oblique {
        font-family: var(--fontFamilyTitleOblique);
    }
}

h1 {
    font-size: var(--h1Size);
}

h2 {
    font-size: var(--h2Size);
}

h3 {
    font-size: var(--h3Size);
}

button, input[type="submit"] {
    cursor: pointer;
}

button, .a-button {
    background-color: transparent;
    border-left-width: 3px;
    border-right-width: 3px;
    border: 1px solid var(--accent);
    color: var(--mainColor);
    cursor: pointer;
    display: inline-block;
    font-family: var(--fontFamilyTitleOblique);
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 2px 2px 0 var(--accent), 2px 2px 0 var(--dark);
    transition: border .3s ease, text-shadow .3s ease;

    &:hover {
        text-shadow: 3px 3px 0 var(--accent), 6px 6px 0 var(--dark);
    }
}

input[type="text"], input[type="password"], input[type="email"] {
    background-color: var(--accent);
    color: var(--dark);
    border: 0;
    font-size: 1rem;
    padding: 5px 10px;

    &::-webkit-input-placeholder {
        color: #000;
        opacity: 1;
    }

    &::-moz-placeholder {
       color: #000;
       opacity: 1;
    }

    &:-ms-input-placeholder {
       color: #000;
       opacity: 1;
    }
}

input[type="submit"] {
    border: 0;
    background-color: var(--accent);
    box-shadow: 5px 5px 0 rgba(0, 0, 0, .75);
    font-size: 2rem;
    font-weight: bold;
    padding: 5px 10px;
}

select {
    background-color: var(--accent);
    color: var(--dark);
    border: 0;
    padding: 4px 7.5px;
    font-size: 1rem;
}

p {
    text-align: justify;
    text-align-last: center;
}

a {
    color: inherit;
    text-decoration: none;
}

.humane {
    background-color: var(--accent);
    color: #000;
    font-size: 20px;
    border-radius: 0;
    box-shadow: 5px 5px 0 var(--mainColor);
    font-family: var(--fontFamily);
    opacity: 0.9;
    font-weight: bold;

    &.humane-animate {
        transform: translateY(5px);
    }
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}
