.a-footer {
    background: radial-gradient(ellipse at center, #3d444c 0%, #24282b 97%);
    border-top: 3px solid var(--accent);
    text-align: center;

    > .a-footer__title {
        color: var(--accent);
        font-size: 6rem;
        margin-bottom: 1rem;
    }

    > .a-footer__icons {
        > .a-footer__icons__icon {
            display: inline-block;
            height: var(--footerIconSize);
            position: relative;

            &:hover {
                cursor: pointer;

                > .a-footer__icon--twitter {
                    fill: var(--twitter);
                    stroke: var(--twitter);
                }

                > .a-footer__icon--facebook {
                    fill: var(--facebook);
                    stroke: var(--facebook);
                }

                > .a-footer__icon--youtube {
                    fill: var(--youtube);
                    stroke: var(--youtube);

                    path:first-child {
                        fill: var(--light);
                    }
                }
            }

            &:not(:last-child){
                margin-right: 2rem;

                &:after {
                    content: ' ';
                    background-color: var(--grey);
                    height: calc(var(--footerIconSize) / 2);
                    position: absolute;
                    top: calc(var(--footerIconSize) / 4);
                    right: -1rem;
                    width: 2px;
                }
            }

            > svg {
                height: var(--footerIconSize);
                fill: var(--grey);
                stroke: var(--grey);
                transition: fill .3s ease, stroke .3s ease;
                width: var(--footerIconSize);

                &.a-footer__icon--youtube path:first-child {
                    fill: var(--grey);
                    transition: fill .3s ease;
                }
            }
        }
    }

    > .a-footer__text {
        color: var(--light);
        font-size: 1.4rem;
    }
}

@media (max-width: 650px) {
    .a-footer > .a-footer__title {
        font-size: 3rem;
    }

    .a-footer > .a-footer__icons > .a-footer__icons__icon {
        height: 75px;
    }

    .a-footer > .a-footer__icons > .a-footer__icons__icon > svg {
        height: 75px;
        width: 75px;
    }

    .a-footer > .a-footer__icons > .a-footer__icons__icon:not(:last-child):after {
        top: 15px;
    }

    .a-footer > .a-footer__text {
        font-size: 1.2rem;
        padding: 0 1rem;
    }
}
