.a-hero {
    background-color: var(--light);

    > .a-hero__content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        width: 100%;
        z-index: 2;

        > .a-hero__content__logo {
            color: var(--mainColor);
            font-size: 12rem;
            margin: 0;
            text-shadow: 2px 2px 0 var(--accent),
                         4px 4px 0 var(--dark);
            text-transform: uppercase;
        }
    }

    > .a-hero__images {
        opacity: var(--whiteShadowOpacity);
        height: 100%;
        width: 100%;

        > .a-hero__image {
            background-position: top center;
            background-size: cover;
            float: left;
            height: 100%;
            width: calc(100% / var(--numberOfImages));

            &.a-hero__image--overwatch {
                background-image: url("../img/overwatch.png");
            }

            &.a-hero__image--warcraft {
                background-image: url("../img/warcraft.png");
            }

            &.a-hero__image--lol {
                background-image: url("../img/lol.png");
            }

        }
    }

    > img {
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
    }
}

@media (max-width: 850px) {
    .a-hero > .a-hero__content > img {
        width: 400px;
        height: 350px;
    }

    .a-hero > .a-hero__content > .a-hero__content__logo {
        font-size: 9rem;
    }
}

@media (max-width: 575px) {
    .a-hero > .a-hero__content > img {
        width: 320px;
        height: 280px;
    }

    .a-hero > .a-hero__content > .a-hero__content__logo {
        font-size: 7rem;
    }
}

@media (max-width: 420px) {
    .a-hero > .a-hero__content > img {
        height: 245px;
        width: 280px;
    }

    .a-hero > .a-hero__content > .a-hero__content__logo {
        font-size: 5rem;
    }
}
