@import 'normalize.css/normalize';
@import 'humane-js/themes/flatty';

@import 'app';
@import 'page';
@import 'hero';
@import 'menu';
@import 'faq';
@import 'intro';
@import 'footer';
@import 'modal';
@import 'dashboard';
