.a-page--intro {
    padding: 0 5rem;

    .a--edge {
        margin-left: -5rem;
        margin-right: -5rem;
    }

    .a-page__title {
        color: var(--accent);
        font-family: var(--fontFamilyTitleOblique);
        font-weight: bold;
        text-transform: uppercase;

        &.a-page__title--big {
            font-size: 10rem;
            margin-bottom: 0;
        }

        &.a-page__title--medium {
            color: var(--grey);
            font-size: 5em;
            margin: 1rem;
        }
    }

    .a-page__text {
        font-size: 1.5rem;
        margin: 0;
    }

    .a-page__separator {
        border: none;
        margin: 3rem 0;
    }

    .a-countdown {
        display: flex;
        justify-content: space-around;

        > div {
            font-size: var(--countdownFontSize);
            line-height: calc(var(--countdownFontSize) * 0.8);
            width: calc(var(--countdownFontSize) * 0.8);
        }
    }

    .a-countdown-indicators {
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;

        .a-countdown-indicators__indicator {
            color: var(--accent);
            font-size: 4rem;
            text-transform: uppercase;
            width: calc(var(--countdownFontSize) * 0.8);
        }
    }

    .a-page__register {
        font-size: 8rem;
        margin: 3rem 3rem 0 3rem;
        padding: 1rem;
        width: 50%;
    }

    .a-category {
        margin-bottom: 3rem;

        > .a-category__icon {
            float: left;
            width: var(--categoryIconSize);
        }

        > .a-category__text {
            margin-left: var(--categoryIconSize);
            width: calc(100% - var(--categoryIconSize));

            > .a-category__header {
                color: var(--accent);
                font-size: 7rem;
                margin: 0;
            }

            > .a-category__text {
                font-size: 1.4rem;
                padding: 0 3rem;
            }

            > .a-category__button {
                font-size: 6rem;
                padding: 0.5rem 6rem;
            }
        }
    }

    .a-banner {
        background-size: cover;
        background-position: center bottom;
        font-size: 8rem;
        height: 240px;
        left: 0;
        position: absolute;
        width: 100%;

        > span {
            bottom: 30px;
            color: var(--mainColor);
            text-shadow: 2px 2px 0 var(--accent);
            left: 50px;
            position: absolute;
        }

        &.a-banner--infos {
            background-image: url(/img/infos.jpg);

            & + div, & + div + div {
                margin-top: 300px;
            }
        }

        &.a-banner--partners {
            background-image: url(/img/partners.jpg);

            & + div {
                margin-top: 300px;
            }
        }

        &.a-banner--festival {
            background-image: url(/img/festival.jpg);

            & + p {
                margin-top: 300px;
            }
        }
    }

    .a-partners {
        .a-page__title.a-page__title--big {
            margin: 0 0 3rem 0;
        }

        .a-partners__images {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 -1rem 3rem -1rem;

            .a-partners__images__partner {
                margin: 1rem;
                padding: 2px;

                &.a-partners__images__partner--white {
                    background: #fff;
                }

                img {
                    max-height: 100px;
                }
            }
        }
    }

    .a-festival {
        .a-page__title.a-page__title--big {
            margin: 0 0 3rem 0;
        }

        .a-page__text {
            margin-bottom: 3rem;
        }

        .a-festival__images {
            margin-bottom: 3rem;
        }

        .a-festival__images__image:nth-child(1),
        .a-festival__images__image:nth-child(2) {
            display: inline-block;
            float: left;
            margin-bottom: 2rem;
            width: calc(50% - 1rem);
        }

        .a-festival__images__image:nth-child(1) {
            margin-right: 2rem;
        }

        img {
            max-width: 100%;
        }
    }
}

.a-panels__panel {
    display: none;
    background: var(--dark);
    padding: 1rem 0;
    width: 100%;

    &.a-panels__panel--active {
        display: block;
    }
}

.a-tabs {
    display: flex;

    a {
        padding: 15px 0;
    }
}

.a-tabs__tab {
    background-color: color(var(--dark) a(50%));
    cursor: pointer;
    flex: 1;
    font-size: 1.2rem;
    opacity: 0.5;
    padding: 10px 0;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
    transition: opacity .2s ease;

    &:not(:last-child) {
        border-right: 1px solid var(--mainColor);
    }

    /* Also add left border to have correct opacity on borders */
    &:not(:first-child) {
        border-left: 1px solid var(--mainColor);
    }

    &.a-tabs__tab--active {
        background-color: var(--dark);
        opacity: 1;
    }
}

.a-list {
    column-count: 3;
    column-gap: 60px;
    font-size: 1.1rem;
    list-style: none;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 0;
    text-align: justify;

    &.a-list--two {
        column-count: 2;
    }

    &.a-list--one {
        column-count: 1;
    }

    li {
        line-height: 25px;
    }

    strong {
        color: var(--accent);
    }

    div {
        line-height: 18px;
        margin-bottom: 5px;
    }
}

@media (max-width: 1260px) {
    .a-page--intro .a-category > .a-category__text > .a-category__header {
        font-size: 5rem;
    }

    .a-page--intro .a-category > .a-category__text > .a-category__text {
        font-size: 1.1rem;
    }
}

@media (max-width: 1050px) {
    .a-page--intro {
        padding: 0 3rem;


        .a--edge {
            margin-left: -3rem;
            margin-right: -3rem;
        }
    }

    .a-page--intro .a-page__title.a-page__title--big {
        font-size: 8rem;
    }

    .a-page--intro .a-page__title.a-page__title--medium {
        font-size: 3rem;
    }

    .a-page--intro .a-page__text {
        font-size: 1.3rem;
    }

    .a-page--intro .a-countdown .a-countdown__spacing:first-child,
    .a-page--intro .a-countdown .a-countdown__spacing:last-child {
        width: 0;
    }

    .a-page--intro .a-page__register {
        width: 100%;
        margin: 3rem 0;
    }
}

@media (max-width: 1000px) {
    .a-page--intro .a-festival .a-festival__images__image:nth-child(1),
    .a-page--intro .a-festival .a-festival__images__image:nth-child(2) {
        display: block;
        float: none;
        width: 100%;
    }
}

@media (max-width: 870px) {
    .a-page--intro .a-category > .a-category__icon {
        float: left;
        width: auto;
    }

    .a-page--intro .a-category > .a-category__text {
        margin-left: 200px;
        width: calc(100% - 200px);
    }

    .a-page--intro .a-category .a-category__list {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 800px) {
    .a-page--intro .a-countdown > div {
        font-size: 8rem;
        line-height: 6rem;
    }

    .a-page--intro .a-countdown-indicators .a-countdown-indicators__indicator {
        font-size: 2.5rem;
    }
}

@media (max-width: 720px) {
    .a-category__icon img {
        width: 75px;
        height: auto;
    }

    .a-page--intro .a-category > .a-category__text {
        margin-left: 0;
        width: 100%;
    }

    .a-page--intro .a-category > .a-category__text > .a-category__text {
        padding: 0;
        text-align: justify;
    }
}

@media (max-width: 650px) {
    .a-page--intro .a-countdown > div {
        font-size: 5rem;
        line-height: 4rem;
    }

    .a-page--intro .a-page__title.a-page__title--big {
        font-size: 6rem;
    }

    .a-page--intro .a-page__title.a-page__title--medium {
        font-size: 2.5rem;
    }

    .a-page--intro .a-page__register {
        font-size: 6rem;
    }

    .a-page--intro .a-category .a-category__list {
        column-count: 2;
    }
}

@media (max-width: 500px) {
    .a-page--intro .a-page__title.a-page__title--big ,
    .a-page--intro .a-page__register {
        font-size: 4rem;
    }

    .a-page--intro .a-countdown-indicators .a-countdown-indicators__indicator {
        font-size: 2rem;
    }

    .a-tabs__tab {
        font-size: 1rem;
    }

    .a-page--intro .a-category .a-category__list {
        column-count: 1;

        &.a-category__list--two {
            column-count: 1;
        }
    }

    .a-page--intro .a-banner {
        font-size: 5rem;
    }

    .a-page--intro .a-banner > span {
        left: 30px;
    }

    .a-list {
        column-count: 1 !important;
        margin: 0 15px;
    }
}

@media (max-width: 400px) {
    .a-page--intro {
        padding: 0 1rem;

        .a--edge {
            margin-left: -1rem;
            margin-right: -1rem;
        }
    }
}
