.a-page--intro {
    padding: 0 5rem;

    .a-page__title {
        color: var(--accent);
        font-family: var(--fontFamilyTitleOblique);
        font-weight: bold;
        text-transform: uppercase;

        &.a-page__title--big {
            font-size: 10rem;
            margin-bottom: 0;
        }

        &.a-page__title--medium {
            color: var(--grey);
            font-size: 5em;
            margin: 1rem;
        }
    }

    .a-page__text {
        font-size: 1.5rem;
        margin: 0;
    }

    .a-page__separator {
        border: none;
        border-top: 2px solid var(--accent);
        margin: 2rem 0;
    }

    .a-countdown {
        .a-countdown__months, .a-countdown__days, .a-countdown__hours {
            border: 1px solid var(--accent);
            float: left;
            font-size: var(--countdownFontSize);
            line-height: calc(var(--countdownFontSize) * 1.5);
            width: 10%;

            &.a-countdown__months--one, &.a-countdown__days--one, &.a-countdown__hours--one {
                margin-right: 1%;
            }
        }

        .a-countdown__spacing {
            float: left;

            &:first-child, &:last-child {
                width: 9%;
            }

            &:nth-child(4), &:nth-child(7) {
                width: 9.5%;
            }
        }
    }

    .a-countdown-indicators {
        margin-top: 1rem;

        .a-countdown-indicators__months, .a-countdown-indicators__days, .a-countdown-indicators__hours {
            color: var(--accent);
            float: left;
            font-size: 2rem;
            text-transform: uppercase;
            width: 21%;
        }

        .a-countdown-indicators__spacing {
            float: left;
            width: 9%;

            &:not(:first-child):not(:last-child) {
                width: 9.5%;
            }
        }
    }

    .a-page__register {
        font-size: 8rem;
        margin: 3rem;
        padding: 1rem;
        width: 50%;
    }

    .a-category {
        height: var(--categoryIconSize);
        margin-bottom: 10rem;

        > .a-category__icon {
            float: left;
            width: var(--categoryIconSize);

            > img {
                width: calc(var(--categoryIconSize) - 50px);
            }
        }

        > .a-category__text {
            margin-left: var(--categoryIconSize);
            width: calc(100% - var(--categoryIconSize));

            > .a-category__header {
                color: var(--accent);
                font-size: 7rem;
                margin: 0;
            }

            > .a-category__text {
                font-size: 1.4rem;
                padding: 0 3rem;
            }

            > .a-category__button {
                font-size: 6rem;
                padding: 0.5rem 6rem;
            }
        }
    }
}

@media (max-width: 1050px) {
    .a-page--intro {
        padding: 0 3rem;
    }

    .a-page--intro .a-page__title.a-page__title--big {
        font-size: 8rem;
    }

    .a-page--intro .a-page__title.a-page__title--medium {
        font-size: 3rem;
    }

    .a-page--intro .a-page__text {
        font-size: 1.3rem;
    }

    .a-page--intro .a-countdown .a-countdown__spacing:first-child,
    .a-page--intro .a-countdown .a-countdown__spacing:last-child {
        width: 0;
    }

    .a-page--intro .a-countdown .a-countdown__months,
    .a-page--intro .a-countdown .a-countdown__days,
    .a-page--intro .a-countdown .a-countdown__hours {
        font-size: 6rem;
        width: 13%;
    }

    .a-page--intro .a-countdown-indicators .a-countdown-indicators__spacing:first-child,
    .a-page--intro .a-countdown-indicators .a-countdown-indicators__spacing:last-child {
        width: 0;
    }

    .a-page--intro .a-countdown-indicators .a-countdown-indicators__months,
    .a-page--intro .a-countdown-indicators .a-countdown-indicators__days,
    .a-page--intro .a-countdown-indicators .a-countdown-indicators__hours {
        width: 27%;
    }

    .a-page--intro .a-page__register {
        width: 100%;
        margin: 3rem 0;
    }

    .a-page--intro .a-category {
        margin-bottom: 5rem;
    }

    .a-page--intro .a-category > .a-category__icon,
    .a-page--intro .a-category > .a-category__icon > img {
        width: 200px;
    }

    .a-page--intro .a-category > .a-category__text {
        margin-left: 200px;
        width: calc(100% - 200px);
    }
}

@media (max-width: 800px) {
    .a-page--intro .a-category {
        margin-bottom: 2rem;
    }

    .a-page--intro .a-category > .a-category__icon,
    .a-page--intro .a-category > .a-category__icon > img {
        width: 75px;
    }

    .a-page--intro .a-category > .a-category__text {
        margin-left: 0;
        width: 100%;
    }

    .a-page--intro .a-category > .a-category__text > .a-category__header {
        font-size: 5rem;
    }

    .a-page--intro .a-category > .a-category__text > .a-category__text {
        margin-top: 3rem;
    }

    .a-page--intro .a-category > .a-category__text > .a-category__button {
        font-size: 4rem;
        padding: 0.5rem 0;
        width: 100%;
    }

    .a-page--intro .a-countdown .a-countdown__months,
    .a-page--intro .a-countdown .a-countdown__days,
    .a-page--intro .a-countdown .a-countdown__hours {
        font-size: 4rem;
        width: 15.5%;
    }

    .a-page--intro .a-countdown .a-countdown__spacing:not(:first-child):not(:last-child),
    .a-page--intro .a-countdown-indicators .a-countdown-indicators__spacing:not(:first-child):not(:last-child) {
        width: 2%;
    }

    .a-page--intro .a-countdown-indicators .a-countdown-indicators__months,
    .a-page--intro .a-countdown-indicators .a-countdown-indicators__days,
    .a-page--intro .a-countdown-indicators .a-countdown-indicators__hours {
        width: 32%;
    }
}

@media (max-width: 650px) {
    .a-page--intro .a-countdown .a-countdown__months,
    .a-page--intro .a-countdown .a-countdown__days,
    .a-page--intro .a-countdown .a-countdown__hours {
        font-size: 3rem;
        line-height: 8rem;
    }

    .a-page--intro .a-page__title.a-page__title--big {
        font-size: 6rem;
    }

    .a-page--intro .a-page__title.a-page__title--medium {
        font-size: 2.5rem;
    }

    .a-page--intro .a-page__register {
        font-size: 6rem;
    }

    .a-page--intro .a-category > .a-category__text > .a-category__header {
        font-size: 3.5rem;
    }

    .a-page--intro .a-category {
        height: auto;
    }
}

@media (max-width: 600px) {
    .a-page--intro .a-category > .a-category__text > .a-category__text {
        padding: 0;
    }

    .a-page--intro .a-countdown-indicators .a-countdown-indicators__months,
    .a-page--intro .a-countdown-indicators .a-countdown-indicators__days,
    .a-page--intro .a-countdown-indicators .a-countdown-indicators__hours {
        font-size: 1.5rem;
    }
}

@media (max-width: 500px) {
    .a-page--intro .a-page__title.a-page__title--big ,
    .a-page--intro .a-page__register {
        font-size: 4rem;
    }

    .a-page--intro .a-countdown-indicators .a-countdown-indicators__months,
    .a-page--intro .a-countdown-indicators .a-countdown-indicators__days,
    .a-page--intro .a-countdown-indicators .a-countdown-indicators__hours {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    .a-page--intro {
        padding: 0 1rem;
    }

    .a-page--intro .a-category > .a-category__icon,
    .a-page--intro .a-category > .a-category__icon > img {
        width: 45px;
    }
}
