[data-modal] {
    cursor: pointer;
}

.a-modal {
    background-color: color(var(--dark) a(80%));
    display: block;
    height: 338px;
    overflow: hidden;
    padding: 15px .5rem;
    position: absolute;
    right: calc(3.75% - 5px);
    top: 130px;
    transition: .3s right ease, .3s height ease;
    width: 300px;
    z-index: 3;

    &.a-modal--hidden {
        opacity: 0;
        transform: scale3d(0, 0, 0);
    }

    &.a-modal--switched {
        height: 210px;

        .a-modal__register {
            top: -335px;
        }

        .a-modal__login {
            top: 15px;
        }
    }

    .a-menu--fixed-top + main > & {
        position: fixed;
        top: 70px;
        right: 6px;
    }

    .a-modal__title {
        color: #fff;
        margin: 0 0 15px 0;
        text-align: center;
    }

    .a-modal__closer {
        color: #fff;
        cursor: pointer;
        font-size: 25px;
        height: 20px;
        line-height: 20px;
        position: absolute;
        right: 15px;
        top: 15px;
        width: 20px;
        z-index: 4;
    }

    .a-modal__input {
        text-align: center;

        &:not(:last-of-type) {
            margin-bottom: .5rem;
        }

        label {
            display: inline-block;
            color: #fff;
            font-size: 14px;
            line-height: 20px;
            text-align: left;
            width: 95%;
        }
    }

    .a-modal__submit {
        align-items: center;
        display: flex;
        justify-content: space-around;
        margin-left: 7.5px;
        margin-top: 25px;

        a {
            color: var(--accent);

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .a-modal__register {
        left: 0;
        position: absolute;
        top: 15px;
        transition: .3s top ease;
        width: 100%;
    }

    .a-modal__login {
        height: 200px;
        left: 0;
        position: absolute;
        transition: .3s top ease;
        top: 100%;
        width: 100%;
    }
}

@media (max-width: 400px) {
    .a-modal {
        left: 0;
        margin: 0 auto;
        right: 0;
    }
}

/* Bouncers */
.a--bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

.a--bounceOut {
  -webkit-animation-name: bounceOut;
  animation-name: bounceOut;
}

.a--animated.a--bounceIn,
.a--animated.a--bounceOut {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  80% {
    opacity: 1;
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceOut {
  20% {
    transform: scale3d(.9, .9, .9);
  }

  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
}

/* Checkboxes */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    left: -9999px;
    position: absolute;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    cursor: pointer;
    margin-left: 10px;
    padding-left: 45px;
    position: relative;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    background: #ddd;
    height: 20px;
    left: 0;
    top: -1px;
    transition: background-color .2s ease;
    width: 36px;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    background: var(--grey);
    height: 16px;
    left: 2px;
    top: 1px;
    transition: all .2s;
    width: 16px;
}

[type="checkbox"]:checked + label:before {
    background: var(--accent);
}
[type="checkbox"]:checked + label:after {
    background: var(--mainColor);
    left: 18px;
}

[type="checkbox"]:focus + label:before {
    border: 1px dashed #777;
    box-sizing: border-box;
}
