.a-page {
    margin: 0 auto;
    max-width: 1400px;
    overflow-y: auto;
    text-align: center;
    width: 100%;

    &.a-page--blue {
        background-color: var(--blue);
        color: var(--light);
    }

    &.a-page--full-height {
        height: 100%;
    }

    &.a-page--full-width {
        max-width: 100%;
    }
}
