.a-terms {
    h2 + p:first-of-type {
        text-align: center;
        text-align-last: center;
    }

    p {
        font-size: 1.4rem;
        text-align: justify;
        text-align-last: left;
    }

    li {
        font-size: 1.4rem;
        text-align: justify;
        text-align-last: left;
    }
}
